<%- include ("../../partials/header.ejs") %>

  <body>
    <%- include ("../../partials/navbar.ejs") %>
      <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a href="/admin/articles/new" class="btn btn-primary"> criar novo artigo</a>
        <hr>

        <table class="table table-bordered">
          <thead class="bg-primary">
            <tr>
              <th class="text-white">Id</th>
              <th class="text-white">Título</th>
              <th class="text-white">Slug</th>
              <th class="text-white">Categoria</th>
              <th class="text-white">Ações</th>
            </tr>
          </thead>

          <tbody>


          </tbody>
        </table>
      </div>
  </body>
  <%- include ("../../partials/footer.ejs") %>