<%- include ("../../partials/header.ejs") %>

  <body>
    <%- include ("../../partials/navbar.ejs") %>

      <div class="container col-6 mt-3">

        <div class="card">
          <div class="card-header">
            <h2>novo artigo</h2>
          </div>

          <div class="card-body">
            <form action="/categories/save" method="post">
              <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo">
              <textarea placeholder="Escreva seu artigo aqui !" name="body" class="form-control mt-3"></textarea>

              <button class="mt-3 btn btn-primary">cadastrar</button>
            </form>
          </div>
        </div>
      </div>
  </body>
  <%- include ("../../partials/footer.ejs") %>