<nav class="navbar navbar-ligth bg-primary d-flex justify-content-start align-items-center gap-5 ">
  <a href="/" class="p-1 navbar-brand text-white">
    webpress
  </a>
  <ul class="navbar-nav gap-5 flex-row">
    <li class="nav-item">
      <a href="/" class="text-white text-decoration-none">Home</a>
    </li>

    <% categories.forEach(categories=>{%>
      <li class="nav-item">
        <a href="/categories/<%=categories.slug%>" class="text-white text-decoration-none">
          <%= categories.title %>
        </a>
      </li>
      <%})%>

        <li class="nav-item">
          <form action="/search" method="post">
            <input type="search" name="search" placeholder="Pesquisar">

          </form>

        </li>

        <a href="/login" class="btn btn-warning">Entrar</a>

  </ul>
</nav>