<nav class="navbar navbar-ligth bg-primary d-flex justify-content-start align-items-center gap-5">
  <a href="/" class="p-1 navbar-brand text-white">
    webpress
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/admin/categories" class="text-white text-decoration-none">categorias</a>
    </li>
  </ul>
</nav>