<nav class="navbar w-100 navbar-ligth bg-primary d-flex justify-content-start align-items-center gap-5 ">
  <a href="/" class="p-1 navbar-brand text-white">
    webpress
  </a>
  <ul class="navbar-nav d-flex gap-5 flex-row">
    <li class="nav-item">
      <a href="/admin/categories" class="text-white text-decoration-none">categorias</a>
    </li>
    <li class="nav-item">
      <a href="/admin/articles" class="text-white text-decoration-none">artigos</a>
    </li>
    <li class="nav-item align-self-end">

    </li>
  </ul>
  <a href="/logout" class="text-white align-self-center btn btn-danger text-decoration-none">logout</a>
</nav>