<%- include ("partials/header.ejs") %>

  <body>
    <%- include ("partials/homeNavbar.ejs") %>
      <div class="container d-flex flex-wrap gap-3">
        <% articles.forEach(article=> {%>
          <div class="card mt-3">
            <div class="card-header">
              <h6>
                <%= article.title%>
              </h6>
            </div>
            <div class="card-body">
              <button class="btn btn-primary"> Ler Artigo</button>
            </div>
          </div>


          <%})%>
      </div>
  </body>
  <%- include ("partials/footer.ejs") %>